<!DOCTYPE html>
<html lang="en">

<head>
    <title>SD - Create Secret</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='icon/favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>

<body>
    <div class="container">
        <h1>Create Secret</h1>
        <h4 id="walletAddress"></h4>

        <div class="form-container" style="flex-wrap:wrap; font-size: 1.5rem">
            <div class="form-sd">

                <label for="sd-url-input" style="color: #c324c3">
                    Enter StableDiffusion instance URL:
                </label>
                <p></p>

                <input type="text" id="sd-url-input" name="sd-url-input" required size=50 style="font-size: 25px;">
                <button id="sd-btn" onclick="handleSDUrl()">
                    Submit URL
                </button>

                <p></p>
                <label for="secret-input" style="color: #c324c3;">
                    Enter your secret:
                </label>
                <p></p>

                <input type="text" id="secret-input" name="secret-url-input" required size=50 style="font-size: 25px;">
                <button id="secret-btn" onclick="handleSecret()"> Submit Secret </button>

                <p></p>
                <label for="prompt-input" style="color: #c324c3;">
                    Enter your prompt or leave blank for autogeneration:
                </label>
                <p></p>

                <div style="display: flex; align-items: center;">
                    <textarea id="prompt-input" name="prompt-input" rows="5" cols="49"
                        style="font-size: 25px;"></textarea>
                    <button id="prompt-btn" onclick="handlePrompt()" style="margin-left: 10px;">Submit Prompt</button>
                </div>

                <p></p>
                <label for="amount" style="color: #c324c3;">
                Amount of Nft you want to mint:
                </label>
                <p></p>
                <input type="number" id="amount-input" name="amount-input" style="font-size: 25px; width: 44rem;">
                <button id="amount-btn" onclick="handleAmount()"> Submit Amount </button>
            </div>
        </div>

        <p>
            <button id="generate-image-btn" style="padding: 0.9rem 1.4rem; font-size: 1.5rem;"
                onclick="handleGenerateImage()">Generate AI Image </button>

        <div>
            <button style="padding: 0.4rem 0.7rem; font-size: 0.8rem;" onclick="redirectToHome()">Return</button>
        </div>

        <!-- <div id="spinner" style="display:none">Loading...</div>
        <div id="image-container">
            <br>
            <button id="submit-btn" onclick="handleSubmit()">Submit</button>
        </div> -->

        <script type="text/javascript" src="static/js/create-secret.js"></script>
    </div>
    </div>
</body>

</html>