<!DOCTYPE html>
<html lang="en">

<head>
    <title>SD - Create Secret</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='icon/favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>

<body>
    <div class="container">
        <h1>Create Secret</h1>
        <h4 id="walletAddress"></h4>

        <div class="form-container" style="display:flex; flex-wrap:wrap;">
            <div class="form-column">
                <label for="sd-url-input" style="font-size: 1rem; color: #c324c3; display:list-item;">
                    EnterStableDiffusion instance URL:
                </label>
                <input type="text" id="sd-url-input" name="sd-url-input" required style="margin-bottom: 1rem; margin-left: 1.5rem; margin-right: 1.5rem; display:list-item">
                <button id="submit-btn" onclick="handleSDUrl()"
                    style="padding: 0.3rem 0.6rem; font-size: 0.9rem; border-radius: 0.8rem; margin-bottom: 1rem; display: list-item;">Submit
                    URL</button>


                    
                <label for="secret-input" style="font-size: 1rem; color: #c324c3; display:list-item;">Enter your
                    secret:</label>
                <label for="prompt-input" style="font-size: 1rem; color: #c324c3; display:list-item;">Enter your prompt
                    or
                    leave blank:</label>
            </div>

            <div class="form-column">
                <input type="text" id="sd-url-input" name="sd-url-input" required
                    style="margin-bottom: 1rem; margin-left: 1.5rem; margin-right: 1.5rem; display:list-item">
                <input type="text" id="secret-input" name="secret-input" required
                    style="margin-bottom: 1rem; margin-left: 1.5rem; margin-right: 1.5rem; display:list-item">
                <input type="text" id="prompt-input" name="prompt-input" required
                    style="margin-bottom: 1rem; margin-left: 1.5rem; margin-right: 1.5rem; display:list-item">
            </div>

            <div class="form-column">

                <button id="submit-btn" onclick="handleSecret()"
                    style="padding: 0.3rem 0.6rem; font-size: 0.9rem; border-radius: 0.8rem; margin-bottom: 1rem; display: list-item;">Submit
                    Secret</button>
                <button id="submit-btn" onclick="handlePrompt()"
                    style="padding: 0.3rem 0.6rem; font-size: 0.9rem; border-radius: 0.8rem; margin-bottom: 1rem; display: list-item;">Submit
                    Prompt</button>
            </div>
        </div>



        <p>
            <button onclick="redirectToHome()">Return</button>

            <script type="text/javascript" src="static/js/create-secret.js"></script>
    </div>
    </div>
</body>

</html>