body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 1rem;
  background-color: #b5b5b5;
  color: #000000;
  border: none;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 20px #800080;
}

button.connected {
  background-color: #800080;
  color: #ffffff;
  box-shadow: none;
}

h4 {
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 1rem;
}